body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header .logo {
    float: left;
}

header .logo h1 {
    margin: 0;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.menu {
    background: #f4f4f4;
    padding: 20px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

/*지역 유기견 보호센터 테두리*/
.rounded-border {
    border-radius: 10px; 
    border: 1px solid #ccc; 
    cursor: pointer;
}