body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 20px 0;
    z-index: 999; /* 다른 요소들 위에 헤더를 표시하기 위해 z-index 값을 설정합니다. */
}

header .logo {
    float: left;
}

header .logo h1 {
    margin: 0;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}



.menu {
    background: #333;
    padding: 20px 0;
    
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 5;
    height: 30px;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu ul li a:hover {
    color: black;
    background-color: rgb(248, 248, 142);
    border-radius: 50px; 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}



